<%- include('inc/_header'); %>
<main id="main">
    <section class="section-courses" id="section-courses">
        <div class="l-container">
            <div class="wrapper-courses">
                <div class="block-title u-margin-bottom-big u-center--text">
                    <h2 class="heading-secondary u-white">
                        Our courses
                    </h2>
                </div>
                <div class="row">
                    <div class="col-1-of-2">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--1">
                                    <!-- <img src="../assets//img/picture.jpeg" alt=""> -->
                                    <span class="card__heading-span">
                                        Laravel
                                    </span>
                                </div>
                                <div class="card__detail">
                                    <ul>
                                        <li>10 hours</li>
                                        <li>5000 students</li>
                                        <li>5 star reated</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back">
                                BACK
                            </div>
                        </div>
                    </div>
                    <div class="col-1-of-2">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--2">
                                    <span class="card__heading-span">
                                        HTML/CSS/JS
                                    </span>
                                </div>
                                <div class="card__detail">
                                    <ul>
                                        <li>10 hours</li>
                                        <li>5000 students</li>
                                        <li>5 star reated</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back">
                                BACK
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-see__all u-center--text">
                    <a href="" class="btn btn--blue btn-white">Seell all our courses</a>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="../assets/js/home.js"></script>
<!--▼ Content area ▼-->