@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header {
  margin-top: 1rem;
}

.c-header .l-container {
  display: -webkit-box;
  display: flex;
}

.c-header .l-container .c-header__logo {
  width: 10rem;
  height: 7rem;
  display: -webkit-box;
  display: flex;
}

.c-header .l-container .c-menu {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.c-header .l-container .c-menu ul {
  display: -webkit-box;
  display: flex;
}

.c-header .l-container .c-menu ul li {
  font-size: 1.6rem;
  line-height: 7rem;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 30px;
}

.c-header .l-container .c-menu .c-menu__action {
  display: -webkit-box;
  display: flex;
}

.c-header .l-container .c-menu .c-menu__action .c-text--initial {
  text-transform: inherit;
}

.c-header .l-container .c-menu .c-menu__action li {
  font-size: 1.4rem !important;
}

.c-header .l-container .c-menu .c-menu__action li i {
  font-weight: bold;
}

.c-header .l-container .c-menu .c-menu__action li a:hover {
  padding: 7px;
  border-radius: 50%;
  background-color: #5d3284;
}

.c-header .l-container .c-menu .c-menu__action li span:hover {
  padding: 7px;
  border-radius: 20px;
  background-color: #5d3284;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.c-header .l-container .c-menu .c-menu__action li .account__define {
  padding: 7px;
  border-radius: 20px;
  background-color: #5d3284;
}

.c-header .l-container .c-menu .c-menu__action li:last-child() {
  position: relative;
}

.c-header .l-container .c-menu .c-menu__action--user {
  margin-top: -15px;
  display: block;
  position: absolute;
  text-align: left;
  background-color: #5d3284;
  width: 100%;
  left: 0px;
  border-radius: 10px;
}

.c-header .l-container .c-menu .c-menu__action--user li {
  margin: 10px 0px 23px -10px;
  line-height: 0px;
  padding-top: 10px;
  display: -webkit-box;
  display: flex;
  text-transform: inherit;
}

.c-header .l-container .c-menu .c-menu__action--user li:hover {
  text-decoration: underline;
}

.c-header .l-container .c-menu .c-menu__action li:nth-of-type(2) {
  position: relative;
  cursor: pointer;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer__columns {
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.c-footer__left {
  float: left;
  width: 300px;
  margin-right: 10px;
}

.c-footer__left nav ul li:not(:first-child):before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 6px;
}

.c-footer__title:first-child {
  font-weight: bold;
}

.c-footer__title:first-child:after {
  content: "";
  background-color: #cccccc;
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 5px;
}

.c-footer__center {
  float: left;
  width: calc(100% - 700px);
}

.c-footer__center nav ul li:not(:first-child):before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 10px;
}

.c-footer__right {
  float: right;
  width: calc(100% - 700px);
}

.c-footer__right nav ul li:not(:first-child):before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c1";
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 10px;
}

.c-copyright {
  margin-top: 15px;
  text-align: center;
  border-top: 1px solid #cccccc;
}

.c-copyright p {
  padding: 20px;
  display: inline-block;
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg");
}

body {
  font-family: 'RobotoRegular';
  font-size: 1.4rem;
  min-width: 90%;
  line-height: 1.5;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(93, 50, 132, 0.1)), to(rgba(84, 45, 119, 0.4))), url("../img/banner.jpg");
  background-image: linear-gradient(to right, rgba(93, 50, 132, 0.1), rgba(84, 45, 119, 0.4)), url("../img/banner.jpg");
  background-size: cover;
  background-position: top;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

main {
  padding: 0px;
  margin: 0px;
}

.l-container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.col-1-of-2 {
  width: 48%;
}

.section-courses {
  margin-top: 90px;
}

.section-courses .l-container {
  display: block;
}

.section-courses .l-container .wrapper-courses {
  width: 40%;
  float: right;
}

.section-courses .l-container .block-title {
  -webkit-animation-name: coursesanimation;
  animation-name: coursesanimation;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.block-see__all {
  margin-top: 5rem;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  display: inline-block;
  padding: 10px 50px;
  font-size: 1.6rem;
  border: 2px solid #fff;
  border-radius: 20px;
  line-height: 1;
}

.btn-white {
  color: #3c3e40;
  background-color: #ffffff;
}

.btn {
  padding: 1.5rem 4rem;
  border-radius: 10px;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  font-weight: bold;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(93, 50, 132, 0.7)), to(#542d77));
  background-image: linear-gradient(to right, rgba(93, 50, 132, 0.7), #542d77);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  color: #ffff;
}

.btn:active {
  -webkit-transform: translateX(-1);
  transform: translateX(-1);
  box-shadow: 0 5px 10px black;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/* Slider
------------------------------------------------------------*/
.c-slider {
  margin: 35px 0px 42px;
  padding: 0px;
  height: 360px;
  width: 100%;
  position: relative;
}

.c-slider__banner {
  width: 100%;
  height: 100%;
}

.c-slider__info {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.c-slider__info span {
  width: 128px;
  height: 35px;
  padding: 10px 22px;
  background-color: #ffdfdf;
  font-size: 1.6rem;
  font-weight: bold;
}

.c-slider__info p {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 15px;
  width: 430px;
  margin-top: 20px;
}

.card {
  -webkit-perspective: 100rem;
  perspective: 100rem;
  position: relative;
  height: 35rem;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: coursesanimation;
  animation-name: coursesanimation;
}

.card__side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  height: 35rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.card__side--front {
  background-color: #ffffff;
}

.card__side--back {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: green;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card:hover .card__side--front {
  cursor: pointer;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card__picture {
  position: relative;
  -webkit-clip-path: ellipse(80% 70% at 50% 30%);
  clip-path: ellipse(80% 70% at 50% 30%);
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(45, 110, 189, 0.4)), to(#1855a2)), url("../img/picture.jpeg");
  background-image: linear-gradient(to right, rgba(45, 110, 189, 0.4), #1855a2), url("../img/picture.jpeg");
  height: 20rem;
  width: 100%;
}

.card__picture--1 .card__heading-span {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(45, 110, 189, 0.4)), to(rgba(24, 85, 162, 0.7)));
  background-image: linear-gradient(to right, rgba(45, 110, 189, 0.4), rgba(24, 85, 162, 0.7));
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(93, 50, 132, 0.4)), to(#542d77)), url("../img/picture.jpeg");
  background-image: linear-gradient(to right, rgba(93, 50, 132, 0.4), #542d77), url("../img/picture.jpeg");
  height: 20rem;
  width: 100%;
}

.card__picture--2 .card__heading-span {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(93, 50, 132, 0.4)), to(rgba(84, 45, 119, 0.7)));
  background-image: linear-gradient(to right, rgba(93, 50, 132, 0.4), rgba(84, 45, 119, 0.7));
}

.card__heading-span {
  position: absolute;
  left: 0;
  bottom: 1rem;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
}

.card__detail {
  padding-top: 2rem;
}

.card__detail ul {
  text-align: center;
}

.card__detail ul li:after {
  border-bottom: 1px solid #ccc;
  content: "";
  display: block;
  width: 50%;
  margin: 10px auto;
}

.card__detail ul li:last-child:after {
  content: "";
  display: block;
  border-bottom: none;
}

.card__detail ul li {
  color: #3c3e40;
  font-weight: bold;
}

.card__detail ul li:last-child {
  border-bottom: none;
}

.row {
  margin-top: 3rem;
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top {
  line-height: 2;
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-about {
  line-height: 2;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-white {
  color: #ffffff;
}

.u-center--text {
  text-align: center;
}

.heading-secondary {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 0.8rem;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#75b0f9), to(#1c2ab1));
  background-image: linear-gradient(to right, #75b0f9, #1c2ab1);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(5deg) scale(1.1);
  transform: skewY(5deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes coursesanimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -60px);
    transform: translate(0, -60px);
  }
  50% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes coursesanimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -60px);
    transform: translate(0, -60px);
  }
  50% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/*# sourceMappingURL=style.css.map */
