<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learn Code</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="l-container">
			<div class="c-header__logo">
				<a href=""><img src="assets/img/logo.png" alt="Logo learn code"></a>
			</div>
			<nav class="c-menu">
				<ul>
					<li><a href="./about.html">Giới thiệu</a></li>
					<li><a href="./programming-anguage.html">Ngôn ngữ lập trình</a></li>
					<li><a href="./question-answeer.html">Hỏi đáp</a></li>
					<li><a href="./contact.html">Liên hệ</a></li>
				</ul>
				<ul class="c-menu__action">
					<li><a href=""><i class="fa fa-search"></i></a></li>
					<li class="u-white c-text--initial btn-user">
						<span><i class="fa fa-user-circle">&nbsp</i>Tài khoản &nbsp<i class="fa fa-angle-down u-bold"></i></span>
						<ul class="c-menu__action--user">
							<li><a href="">Đăng nhập</a></li>
							<li><a href="">Đăng ký</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!--▲ Header ▲-->